.navbar {
    background-color: #E89790 !important;
}
.box1 {
    
    padding: 10px;

    border-radius: 20px;
    background-color: #AED9E0;
    
    
  }
  .box {

    padding: 10px;
 
    

    border-radius: 20px;
    background-color: #AED9E0;
    margin-top: 3%;
  }
  .row {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
body {
    background-color: #FCE0CE;
}
p {
  color: #5E6472;
  font-size: 30px;
}
h1 {
  margin-top: 5%;
  text-align: center;
  color: #5E6472;
  font-weight: 700;
}

