.navbar {
    background-color: #E89790 !important;
}
.box {
    padding: 10px;
    border-radius: 20px;
    background-color: #AED9E0;
    margin-top: 3%;
    width: 100%;

}
.box2 {
    padding: 10px;
    border-radius: 20px;
    background-color: #AED9E0;
    margin-top: 3%;
    width: 100%;
}
.row {
    margin-left: 5% !important;
    margin-right: 5% !important;
}
body {
    background-color: #FCE0CE;
}
.img-center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
  .img-doc { 
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;

    width: 20%;
  }
p {
      color: #5E6472;
      font-size: 10px;
}
h1 {
      margin-top: 5%;
      text-align: center;
      color: #5E6472;
      font-weight: 700;
}
