.navbar {
    background-color: #E89790 !important;
}
.box1 {
    
    padding: 10px;
    /*border: 5px solid #AED9E0;*/
    border-radius: 20px;
    background-color: #AED9E0;
    
    
  }
  .box2 {
    /*width:80%;*/
    padding: 10px;
    /*border: 5px solid #AED9E0;*/
    

    border-radius: 20px;
    background-color: #AED9E0;
    margin-top: 10%;
  }
  .row {
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
body {
    background-color: #FCE0CE;
}

